@import "topBar.css";
@import "headBar.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial,
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

html {
  --edition-width: 1226px;
  --white: #fff;
  --dark-gray: #333333;
  --gray: #424242;
  --font-color: #b0b0b0;
  --mi-orange: #ff6a00;
  --headBar-border: #e0e0e0;
}

body {
  min-width: var(--edition-width);
}

a {
  text-decoration: none;
}
